@charset "UTF-8";
@font-face {
    font-family: "font";
    src: url("/fonte/Signika.ttf") format("truetype");
}
:root{
    --cor1:#42A1ED;
    --cor2:#45D6F7;
    --cor3:#49E0D4;
    --cor4:#45F7B6;
    --cor5:#42ED7E;
    --fonte:"font", Arial, Helvetica, sans-serif ;
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 98vh;
    background: #000 url('/imagens/wallpaper006.jpg') center center no-repeat fixed;
    font-family: var(--fonte);
    padding-top: 30px;
}
header{
    max-width: 800px;
    background-color: #fff;
    margin: auto;
    border-radius: 20px 20px 0px 0px;

}
header nav{
    margin: auto;
    max-width: 400px;
    padding-top: 40px;
    padding-bottom: 20px;
}
header nav a {
    text-decoration: none;
    color: #000000;
    margin: 13%;
    padding: 7px;
    border: 5px solid rgba(188, 187, 187, 0.518);
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bold;
}
header nav a:hover{
    box-shadow: 1px 1px 1px #000;
    background-color: #bcbbbbf4;
    transition: 2s;
}
  div#pesquisa {
    position: relative;
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
}
input{
    padding: 4px;
    border-radius: 20px;
    border: 2px solid #bcbbbbf4;
    margin-left: 60px;
}
input:hover{
    position: relative;
    transition: 5s;
    opacity: 0;
}
header img{
    width: 20px;
    height: 20px;
    position: absolute;
    top:10%;
    left: 23%;
} 
header h1{
    text-align: center;
    padding-top: 40px;
    font-weight: bolder;
    max-width: 200px;
    margin: auto;
    line-height: 1.5em;
    color: var(--cor1);
}   
header p{
    margin: auto;
    text-align: center;
    padding-top: 20px;
    max-width: 500px;
    color: #908f8ff4;
}
main{
    max-width: 800px;
    background-color: #FFF;
    margin: auto;
}